.btn {
    &.font-h4 {
        font-size: 1.25rem !important;
        line-height: 1.5625rem !important;
    }
    &.font-h3 {
        font-size: 1.25rem !important;
        line-height: 1.5625rem !important;
    }
}
