.font-x25{
	font-size: 2.5em;
	line-height: 1.2em;
}

.font-h1-large{
	font-size: 3.75rem;
	line-height: 4.0625rem;
}

.font-h1-medium{
	font-size: 3.125rem;
	line-height: 3.4375rem;
}

.font-h1{
	font-size: 2.5rem;
	line-height: 2.8125rem;
}

.font-h2{
	font-size: 1.875rem;
	line-height: 2.1875rem;
}

.font-h3{
	font-size: 1.5625rem;
	line-height: 1.875rem;
}

.font-h4{
	font-size: 1.25rem;
	line-height: 1.5625rem;
}

.font-body{
	font-size: 1rem;
	line-height: 1.625rem;
}

.font-small{
	font-size: .875rem;
	line-height: 1.5rem;
}
