<div class="container-fluid pt-5 pb-5">
    <div class="row pb-5">
        <div class="col-11 mx-auto">
            <div class="row text-white">
                <div class="col-2">
                    <p class="font-h3 mb-4">
                        Sobre
                    </p>
                    <p>
                        <a class="text-white font-small" href="#" target="_blank">
                            Como funciona
                        </a>
                    </p>
                    <p>
                        <a class="text-white font-small" href="#" target="_blank">
                            Sobre nós
                        </a>
                    </p>
                </div>
                <div class="col-4">
                    <p class="font-h3 mb-4">
                        Explore
                    </p>

                    <div class="row pt-0 pb-0">
                        <div class="col-6">
                            <p>
                                <a class="text-white font-small" href="#" target="_blank">
                                    Categoria 1
                                </a>
                            </p>
                            <p>
                                <a class="text-white font-small" href="#" target="_blank">
                                    Categoria 2
                                </a>
                            </p>
                            <p>
                                <a class="text-white font-small" href="#" target="_blank">
                                    Categoria 3
                                </a>
                            </p>
                        </div>
                        <div class="col-6">
                            <p>
                                <a class="text-white font-small" href="#" target="_blank">
                                    Categoria 4
                                </a>
                            </p>
                            <p>
                                <a class="text-white font-small" href="#" target="_blank">
                                    Categoria 5
                                </a>
                            </p>
                            <p>
                                <a class="text-white font-small" href="#" target="_blank">
                                    Categoria 6
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <p class="font-h3 mb-4">
                        Participe
                    </p>
                    <p>
                        <a class="text-white font-small" href="#" target="_blank">
                            Crie um projeto
                        </a>
                    </p>
                    <p>
                        <a class="text-white font-small" href="#" target="_blank">
                            Ajude um projeto
                        </a>
                    </p>
                </div>
                <div class="col-2">
                    <p class="font-h3 mb-4">
                        Social
                    </p>
                    <p>
                        <a class="text-white font-small" href="#" target="_blank">
                            Facebook
                        </a>
                    </p>
                    <p>
                        <a class="text-white font-small" href="#" target="_blank">
                            Youtube
                        </a>
                    </p>
                    <p>
                        <a class="text-white font-small" href="#" target="_blank">
                            Twitter
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
